<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS v5.2.1 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/DACS2.css" />
  </head>

  <body>
    <header>
      <!-- place navbar here -->
      <nav class="sticky-top">
        <div class="menu">
          <div class="logo">
            <a href="/home">
              <h2>
                <i class="fa fa-book me-3"></i>
                LE4NC0D3
              </h2>
            </a>
          </div>
          <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/lession">Lession</a></li>
            <!-- <li><a href="#">Gallery</a></li> -->
            <li><a href="/about">About</a></li>
            <!-- <li><a href="#">Contract</a></li> -->
            <li><a href="/login" class="active">Login</a></li>
            <!-- <li><a href="/views/login.ejs" class="btn-join py-md-3 px-md-5 animated slideInRight">Join Now</a></li>  -->
          </ul>
          <label for="" id="icon">
            <i class="fas fa-bars"></i>
          </label>
        </div>
      </nav>
    </header>
    <div
      class="mx-auto px-[15px] my-0 md:w-[750px] min-[992px]:w-[970px] min-[1200px]:w-[1170px]"
    >
      <main>
        <div class="mx-[-15px] super-block-intro-page">
          <div
            class="min-h-[1px] px-[15px] w-full md:w-5/6 min-[992px]:w-2/3 md:ml-[8.3%] min-[992px]:ml-[16.6%]"
          >
            <div class="spacer" style="padding: 30px 0px"></div>
            <h1 id="content-start" class="text-center big-heading">
              Scientific Computing with Python
            </h1>
            <div class="spacer" style="padding: 15px 0px"></div>
            <div class="icon cert-header-icon">
              <i class="fa-brands fa-python fa-5x"></i>
            </div>
            <div class="spacer" style="padding: 15px 0px"></div>
            <p>
              Python is one of the most popular, flexible programming languages
              today. You can use it for everything from basic scripting to
              machine learning.
            </p>
            <p>
              In the Scientific Computing with Python Certification, you'll
              learn Python fundamentals like variables, loops, conditionals, and
              functions. Then you'll quickly ramp up to complex data structures,
              networking, relational databases, and data visualization.
            </p>
          </div>
        </div>
      </main>
    </div>
    <footer>
      <!-- place footer here -->
      <div
        class="container-fluid text-light footer pt-5 mt-5 wow fadeIn"
        data-wow-delay="0.1s"
      >
        <div class="container py-5">
          <div class="row g-5">
            <div class="col-lg-3 col-md-6">
              <h4 class="text-white mb-3">Quick Link</h4>
              <a class="btn btn-link" hrefP="">About Us</a>
              <a class="btn btn-link" href="">Contact Us</a>
              <a class="btn btn-link" href="">Privacy Policy</a>
              <a class="btn btn-link" href="">Terms & Condition</a>
              <a class="btn btn-link" href="">FAQs & Help</a>
            </div>
            <div class="col-lg-3 col-md-6">
              <h4 class="text-white mb-3">Contact</h4>
              <p class="mb-2">
                <i class="fa fa-map-marker-alt me-3"></i>123 Street, New York,
                USA
              </p>
              <p class="mb-2">
                <i class="fa fa-phone-alt me-3"></i>+012 345 67890
              </p>
              <p class="mb-2">
                <i class="fa fa-envelope me-3"></i>info@example.com
              </p>
              <div class="d-flex pt-2">
                <a class="btn btn-outline-light btn-social" href=""
                  ><i class="fab fa-twitter"></i
                ></a>
                <a class="btn btn-outline-light btn-social" href=""
                  ><i class="fab fa-facebook-f"></i
                ></a>
                <a class="btn btn-outline-light btn-social" href=""
                  ><i class="fab fa-youtube"></i
                ></a>
                <a class="btn btn-outline-light btn-social" href=""
                  ><i class="fab fa-linkedin-in"></i
                ></a>
              </div>
            </div>
            <!-- {{-- <div class="col-lg-3 col-md-6">
                      <h4 class="text-white mb-3">Gallery</h4>
                      <div class="row g-2 pt-2">
                          <div class="col-4">
                              <img class="img-fluid bg-light p-1" src="img/course-1.jpg" alt="">
                          </div>
                          <div class="col-4">
                              <img class="img-fluid bg-light p-1" src="img/course-2.jpg" alt="">
                          </div>
                          <div class="col-4">
                              <img class="img-fluid bg-light p-1" src="img/course-3.jpg" alt="">
                          </div>
                          <div class="col-4">
                              <img class="img-fluid bg-light p-1" src="img/course-2.jpg" alt="">
                          </div>
                          <div class="col-4">
                              <img class="img-fluid bg-light p-1" src="img/course-3.jpg" alt="">
                          </div>
                          <div class="col-4">
                              <img class="img-fluid bg-light p-1" src="img/course-1.jpg" alt="">
                          </div>
                      </div>
                  </div> --}} -->
            <div class="col-lg-3 col-md-6">
              <h4 class="text-white mb-3">Newsletter</h4>
              <p>Dolor amet sit justo amet elitr clita ipsum elitr est.</p>
              <div class="position-relative mx-auto" style="max-width: 400px">
                <input
                  class="form-control border-0 w-100 py-3 ps-4 pe-5"
                  type="text"
                  placeholder="Your email"
                />
                <button
                  type="button"
                  class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2"
                >
                  SignUp
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="copyright">
            <div class="row">
              <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                &copy; <a class="border-bottom" href="#">Your Site Name</a>, All
                Right Reserved.

                <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                Designed By
                <a class="border-bottom" href="https://htmlcodex.com"
                  >HTML Codex</a
                >
              </div>
              <div class="col-md-6 text-center text-md-end">
                <div class="footer-menu">
                  <a href="">Home</a>
                  <a href="">Cookies</a>
                  <a href="">Help</a>
                  <a href="">FQAs</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
